requests
requests-file
requests-toolbelt
ipwhois
bs4
lxml
dnslib
aiohttp
aiodns
psycopg2
tldextract
icmplib
pyyaml 
awscli 
pymongo 
xmltodict 
certstream 
url 
fuzzywuzzy
pycryptodomex
asn1crypto
atomicwrites
attrs
BeautifulSoup
beautifulsoup4
bs4
censys
certifi
chardet
cheroot
click
colorlog
configparser
contextlib2
cryptography
cssselect
dbus-python
decorator
dnspython
dulwich
EditorConfig
entrypoints
enum34
funcsigs
future
idna
importlib-metadata
ipaddress
ipython
ipython-genutils
jsbeautifier
JSParser
keyring
knockpy
LinkFinder
lxml
more-itertools
netaddr
numpy
nyawc
olefile
parse
parsel
pathlib2
pexpect
pickleshare
Pillow
pip
pluggy
prompt-toolkit
py
pycrypto
pycurl
Pygments
PyGObject
pyparsing
PySocks
pytest
python-magic
python-Wappalyzer
pyxdg
safeurl
scandir
scipy
SecretStorage
selenium
setuptools
simplegeneric
six
soupsieve
termcolor
tldextract
tornado
traitlets
urllib3
w3lib
wcwidth
webscreenshot
wfuzz
wheel
zenmap
zipp
acstis
sphinx>=3.0.4 # not directly required, pinned by Snyk to avoid a vulnerability